* {
    box-sizing: border-box;
  }
  
  .bg {
        font-family: 'Roboto', sans-serif;
      background-image: url(https://images.unsplash.com/photo-1506111583091-becfd4bfa05d?ixlib=rb-1.2.1…cHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
      width: 100%;
      height: 100%;
      background-color: #2f7dc1;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-attachment: fixed;
      opacity:0.9;
      z-index: -2;   
      /* Safari 6.0 - 9.0 */
  }
  .position{
  position:absolute;
  }
  /*image in countryInfo*/
  .imgSize{
    max-width:400px;
    width:30%;
    height:auto;
    margin:0 auto;
  }
  /*the h1*/
  .centerDiv{
    margin-top: 50vh;
    margin-left: 10vh;
    
  }
  
  .countryDiv{
    width:100%;
    height:auto;
  }
  /*other elements*/
  .kidDiv{
    width:100%;
    display:block;
      margin: 0 auto;
  }
  /*form font*/
  .inputFont {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    margin-top:5%;
    display:block;
    font:inherit;
  }
  
  input:hover, button:focus {
      background-color: whitesmoke;
      cursor:pointer;
  }
  
  .white{
    color:white;
  }
  
  .azure{
    color:azure;
  }
  
  a {
    color:grey;
  }
  a:hover{
    color:white;
  }
  
  a:visited{
    color:aqua;
  }
  
  .footer{
      position: fixed;
      bottom: 10px;
      right: 10px;
  }
  
  .hidden{
    display:none;
  }
  
  .button{
    font-size:1em;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.5em 0.6em;
    margin: 7% auto;
    width:30%;
    text-align: center;
  }
  /*country ul format*/
  .ulFormat{
      list-style: none;
      padding: 10px;
      line-height: 1em;
      margin: 10px 15px;
      color: #00000096;
      border: 1px solid grey;
      background-color: #fdfbfbc7;
  }
  
  .liFormat{
      padding: 1px;
      line-height: 1.5em;
      font-size: 1.1em;
  }
  .header{
   text-align:center;
  }
  
  .margin2{
   margin-left:35vw;
  }
  
  #center {
     margin-left: auto ;
     margin-right: auto ;
      /*width:100px;*/
  }
  
  /*calendar ul format*/
  .ulFormat2{
      list-style: none;
      padding: 10px;
      margin: 0 auto;
      color: #ffffffde;
      background-color: #1f2021a1;
      line-height:1.5em;
      margin-left:10px;
      margin-right:20px;
      text-align:center;
  }
  
  .liFormat2{
      padding: 1px;
      font-size: 1.1em; 
  }
  .bgColor{
    background-color:#fdfbfbc7;
    font-display: inherit;
  }
  #wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #restart{
    margin: 20px -50px; 
    position:relative;
    top:90%; 
    left:50%;
    font-size:1em;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.5em 0.6em;
    width:30%;
    text-align: center;
  }
  .textAlign{
    text-align:center;
    margin-left:30%;
  }