* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}
.transitionColor{
 background-color: #57514cad;
}
.bg {
      font-family: 'Roboto', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1506111583091-becfd4bfa05d?ixlib=rb-1.2.1…cHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -2;      
}
.position{
position:absolute;
}
.imgSize{
  max-width:400px;
  width:30%;
  height:auto;
  margin:0 auto;
}
.centerDiv{
  margin-top: 10vh;
  margin-left: 10vw;
  letter-spacing:3px;
  line-height:1.5em;
  text-align: center;
}
.countryDiv{
  width:100%;
  height:auto;
}
.kidDiv{
  width:95%;
  display:block;
  margin: 0 auto;
  line-height:1.5em;
  letter-spacing:2px;
  padding: 1%;
}
.inputFont {
  border: 0;
  outline: 0;
  background: whitesmoke;
  border-bottom: 1px solid white;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font: inherit;
  text-align: center;
}
input:hover,input:focus, button:onfocus {
    background-color: transparent;
    cursor:pointer;
}
.white{
  color:white;
}
.azure{
  color:azure;
}
a {
  color:black;
}
a:hover{
  color:white;
}
a:visited{
  color:aqua;
}
.blueGreen{
  color:#a3d2d2;
}
.footer{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color:white;
}
.hidden{
  display:none;
}
.button{
  font-size:1em;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.5em 0.6em;
  margin: 6% auto;
  width:30%;
  text-align: center;
  font-style:inherit;
  background-color:white;
}
.ulFormat{
    list-style: none;
    line-height: 1em;
    color: #00000096;
    background-color: #fdfbfbc7;
    width: 100%;
    padding:20px;
    margin:0px;
}
#countryInfo{
background-color: #fdfbfbc7;
}
.liFormat{
    padding: 1px;
    width:100%;
    line-height:1.5em;
}
h1{
font-size: 4.2em;
text-align: center;
}
.margin2{
 margin-left:35vw;
 margin-bottom:20px;
 margin-top:20px;
}
#center {
   margin-left: auto ;
   margin-right: auto ;
}
.ulFormat2{
    list-style: none;
    padding: 10px;
    margin: 0 auto;
    color: #ffffffde;
    line-height:1.5em;
    text-align:center;
}
.liFormat2{
    padding: 1px;
    font-size: 1.1em; 
}
.bgColor{
  background-color:#d2cecca8;
  font-display: inherit;
}
#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
#restart{
  margin:20px -15%;
  position:relative;
  top:90%; 
  left:50%;
  font-size:1em;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.5em 0.6em;
  width:30%;
  text-align: center;
  background-color: #211f21;
  color: white;
}
.textAlign{
  text-align:center;
}
.js-error-message
{
margin-left:auto;
margin-right:auto;
display:block;
width:100%;
font-style:inherit;
font-size:1.5em;
line-height:1.5em;
letter-spacing:1px;
padding:20px;
margin-top: 40vh;
}
.ulFormat3{
  list-style: none;
  padding: 0px;
  line-height: 1em;
  color: #000000e3;
  background-color:#fdfbfbe8;
  text-align:center;
}
.greyBackground{
  background-color: #0a0c0ee7;
  padding:10px;
}
#footer2{
    color: white;
    font-size:10px;
}
img{
  padding: 5px;
  max-width: 300px;
  margin:10px;
}
.header{
  text-align:center;
}
@media screen and (min-width:769px) {
  .margin2 {
    margin-left: 15vw;
  }
  #calendarInfo{
    width:50%;
    padding:0;
    margin:0;
    display:inline-block; 
    overflow:hidden;
    flex:1;
  }
  #secondWrapper{
    max-width:50%;
    display:block; 
    margin:0;
    align-self:stretch;
    overflow:hidden;
    flex:1;
  }
  .containerWrapper {
  display: flex;
  flex-wrap:wrap;
  align-items:stretch;
}
  h1{
  font-size:4.2em;
  padding:5%;
}
#js-form-1{
  font-size:2em;
}
.ulFormat3{
    list-style: none;
    padding: 0px;
    line-height: 1em;
    color: white;
    background-color: #2b2b2b;
    width:100%;
    text-align:center;
}
.liFormat{
    line-height: 2em;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
}
.h3{
  width:95%;
  font-size:2.5em;
  line-height:1.1em;
  text-align:center;
  padding-top:50px;
}
.calendarHSize{
  font-size:2em;
}
.calendarPsize{
  font-size:1.8em;
}
.header{
 font-size:3em;
 padding: 5px;
}
.ulFormat2{
  padding-bottom:5px;
}
}
@media screen and (max-width: 768px) and (min-width:412px) {
#secondWrapper{
    max-width:100%;
    display:block; 
    margin:0;
    align-self:stretch;
    overflow:hidden;
    flex:1;
  }
.ulFormat2{
    list-style: none;
    padding: 10px;
    color: #ffffffde;
    line-height:1.5em;
    margin:0px;
    text-align:center;
}
.ulFormat{
    list-style: none;
    padding: 10px;
    line-height: 1em;
    margin: 0px;
    color: #00000096;
    border: 1px solid grey;
    background-color: #fdfbfbc7;
}
.h3{
  width:95%;
}
.ulFormat3{
    list-style: none;
    line-height: 1em;
    color: #000000e3;
    background-color: #fdfbfbe8;
    width:100%;
    padding:5px;
    margin:0px;
    text-align:center;
}
.greyBackground{
  padding:30px 0 30px 0;
}
h1{
font-size: 3em;
padding:5%;
}
.h3{
  line-height:1.8em;
}
.liFormat{
    line-height: 2em;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
}
}
@media screen and (max-width:411px)and (min-width:323px){
#secondWrapper{
    max-width:100%;
    display:block; 
    margin:0;
    align-self:stretch;
    overflow:hidden;
    flex:1;
  }
.kidDiv{
  display:block;
  margin: 0px;
  letter-spacing:1.5px;
}
h1{
  font-size:2em;
  padding:5%;
}
img{
    padding: 5px;
    max-width: 300px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.ulFormat{
    list-style: none;
    padding: 10px;
    line-height: 1em;
    color: #00000096;
    border: 1px solid grey;
    background-color: #fdfbfbc7;
}
.ulFormat3{
    list-style: none;
    line-height: 1em;
    color: #000000e3;
    background-color: #fdfbfbe8;
    width:100%;
    padding:5px;
    margin:0px;
}
.greyBackground{
  padding:5px 0 5px 0;
}
.header{
 font-size:1.5em;
 padding:15px;
}
.liFormat{
  padding: 5px;
  line-height: 1.5em;
  font-size: 1em;
}
.h3{
  line-height:1.5em;
}
}
@media screen and (max-width:322px){
#secondWrapper{
    max-width:100%;
    display:block; 
    margin:0;
    align-self:stretch;
    overflow:hidden;
    flex:1;
  }
.centerDiv{
  margin-left: 5vw;
}
.kidDiv{
  display:block;
  letter-spacing:0.5px;
  margin:5px;
}
h1{
  font-size:1.5em;
  padding:5%;
}
img{
  max-width:200px;
  padding: 5px;
  margin: 5px;
}
.ulFormat2{
    list-style: none;
    color: #ffffffde;
    line-height:1.5em;
    margin-left:0px;
    margin-right:0px;
    text-align:center;
    padding-bottom:5px;
}
.ulFormat{
    list-style: none;
    padding: 10px;
    line-height: 1em;
    margin: 0;
    color: #00000096;
    border: 1px solid grey;
    background-color: #fdfbfbc7;
}
.h3{
  width:95%;
  font-size: 1em;
  line-height: 1.5em;
  padding:0px;
}
.ulFormat3{
    list-style: none;
    line-height: 1em;
    color: #000000e3;
    background-color: #fdfbfbe8;
    padding:0px;
}
.header{
 font-size:0.9em;
 padding:10px;
}
.liFormat{
    padding: 1px;
    font-size: 0.8em;
}
}